<%- include("partials/header") -%>
<div class="ui main text container segment">
    <div class="ui huge header">Create New Blog</div>
    <form class="ui form" action="/blog" method="POST">
        <div class="field">
            <label>Name</label>
            <input type="text" name="blog[title]" placeholder="Name" required>
        </div>
        <div class="field">
            <label>Image</label>
            <input type="text" name="blog[image]" placeholder="Image URL" required>
        </div>
        <div class="field">
            <label>Description</label>
            <textarea name="blog[body]" placeholder="Content" required></textarea>
        </div>
        <input class="ui blue basic button" type="submit">
    </form>
</div>
<%- include("partials/footer") -%>